@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    
}

form {
    margin: auto;
    display: flex;
    width: 400px;
    
}

.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
    margin: auto;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ff1212;
    cursor: text;
    
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d67777;
    box-shadow: none;
    color: #111;
    
}

input:focus + label {
    color: rgb(18, 22, 255);
    line-height: 15px;
    transition-property: inherit;
    transition-delay: initial;
    transition: 1s;
    


   
}
